

body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/795/original/PNW.jpg?1657258661);
  background-position: center;
  background-size: 100%;


  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0, 5px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
 
  font-size: 14px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.cloudy-icon {
  color: teal;
  font-size: 20px;
}

.weather-app {
  border: 1px solid #00e5ee;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 600px;
}

.weather-icon-cloudy {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}
